* {  
  box-sizing: border-box;
  scroll-behavior: smooth
}
html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

button{
  margin: 5px ;
  border: 1px solid lightgray
}



::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  border-radius: 50px;
  background: #666;
}

::-webkit-scrollbar-thumb:hover {
  background: #888;
}
::-webkit-scrollbar-thumb:active {
  background: #555;
}

::-webkit-scrollbar-track {
  background: #d9d9d9;
  border: 0px none #ffffff;
  border-radius: 50px;
}

body{
  background-color: #F9F9F9
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
@tailwind base;
@tailwind components;
@tailwind utilities;